<div clas="hero-unit">
  <h1>About!</h1>
  <p>I'm Siva Karthikeyan Krishnan working software professional. Have passion about learning cutting edge technologies and implementing for the business benefits.</p>
    
    <p>This application is an attempt to implement best practices followed accross in Angular JS and steps in developing a Single Page Application with MongoDB. This is a sample application which would help to search people based on different parameters in a organization</p>
  <ul>
      <li ng-repeat="aboutme in aboutMeItems">{{aboutme}}</li>
 </ul>
  <h3>Enjoy Angular! - Siva Karthikeyan Krishnan</h3>
</div>
