<div>
<div class="modal-header"><h3>Enter person details</h3></div>
<div class="modal-body">
Employee ID<input ng-model='form.EmpId' name='EmpId' />
FirstName <input ng-model='form.FirstName' name='FirstName' />
LastName<input ng-model='form.LastName' name='LastName' />
Email <input ng-model='form.Email' name='Email' />
Mobile <input ng-model='form.Mobile' name='Mobile' />
    </div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click='addPeople()'>Add Contact</button>
     <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>
</div>